@font-face {
    font-family: "ZCOOL Addict Italic 01";
    src: url("./FlowerItalic.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ubuntu-B-2";
    src: url("./Ubuntu-B-2.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Monotype Corsiva";
    src: url("./MTCORSVA.TTF");
    font-weight: normal;
    font-style: normal;
}
